[Unit]
Description=Openstack Plugin Flask
After=network.target

[Service]
User=stack
Type=simple
WorkingDirectory=/opt/stack/Openstack1
ExecStart=/opt/stack/Openstack1/app/venv/bin/python3 /opt/stack/Openstack1/app/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target